<div class="input{{#if className}} {{className}}{{/if}}  {{#if text}} {{text}}{{/if}}">
  <input
    class="input__element"
    type="{{ type }}" title="{{ title }}" name="{{ name }}" value="{{value}}" placeholder="{{placeholder}}">
</div>
